@import url('https://fonts.googleapis.com/css?family=Raleway');@import url('https://fonts.googleapis.com/css?family=Patua+One');* {
    font-family: 'Raleway',sans-serif;
    font-weight: 200!important;
    text-decoration: none!important
}

.main {
    display: none
}

.loader {
    height: 100vh!important;
    width: 100vw!important;
    background-color: #000;
    z-index: 9999;
    cursor: progress
}

.loadinganimation {
    position: relative!important;
    height: 50px;
    width: 50px;
    margin: auto;
    border-radius: 50%;
    top: 50vh;
    z-index: 9999;
    -webkit-animation: load 2s ease infinite;
    animation: load 2s ease infinite
}

@-webkit-keyframes load {
    0% {
        margin-left: 50vw
    }

    25% {
        margin-left: 95vw
    }

    50% {
        margin-left: 50vw
    }

    75% {
        margin-left: 5vw
    }

    100% {
        margin-left: 50vw
    }
}

@keyframes load {
    0% {
        margin-left: 50vw
    }

    25% {
        margin-left: 95vw
    }

    50% {
        margin-left: 50vw
    }

    75% {
        margin-left: 5vw
    }

    100% {
        margin-left: 50vw
    }
}

body {
    overflow-x: hidden!important
}

.container-fluid {
    height: 100vh!important;
    width: 100vw!important;
    padding: 0;
    border: 0;
    margin: 0;
    color: #fff
}

.header-all {
    height: 100px;
    width: 100vw;
    background-color: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999
}

.logo-div {
    width: 300px
}

.flow-box-i {
    letter-spacing: 7px;
    margin-left: 50px;
    margin-top: 25px;
    text-align: left;
    width: 300px
}

.flow-box-i>.logo {
    height: 70px;
    width: 70px
}

.flow-box-i:hover {
    color: #e6e600;
    cursor: pointer
}

.flow-box-i:hover .logo {
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%)
}

@media screen and (max-width: 599px) {
    .flow-box-i {
        margin-left:10px
    }

    .menu-all {
        width: 100vw
    }
}

@media screen and (max-width: 700px) {
    .buttons-in-menu-all {
        display:none
    }

    .mobile-buttons-link {
        display: block!important
    }

    .login-signup-options {
        margin-top: 50px
    }
}

.menu-div {
    height: auto;
    width: auto;
    float: right;
    margin-top: -100px!important
}

.round-div {
    cursor: pointer;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #fff;
    margin-right: 50px;
    margin-top: 25px
}

.ignor {
    text-align: center!important;
    font-size: 25px;
    margin-top: 12px;
    margin-left: 13px;
    color: #000;
    -webkit-transition: all .6s ease;
    transition: all .6s ease
}

.round-div:hover {
    background-color: #e6e600
}

.round-div:hover .ignor {
    color: #000;
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg)
}

.menu-all {
    height: 100vh;
    width: 100vw;
    background: rgba(0,0,0,0.5);
    z-index: 99!important;
    position: fixed;
    top: 0;
    right: 0;
    -webkit-filter: grayscale(50%);
    filter: grayscale(50%)
}

.buttons-in-menu-all {
    font-size: 70px;
    font-weight: bolder!important;
    text-align: right;
    cursor: pointer;
    float: right;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    font-family: 'Patua One',cursive!important
}

.buttons-in-menu-all:nth-child(1) {
    margin-right: 100px;
    margin-top: 100px
}

.buttons-in-menu-all:nth-child(2) {
    margin-right: -190px;
    margin-top: 200px
}

.buttons-in-menu-all:nth-child(3) {
    margin-right: -190px;
    margin-top: 300px
}

.buttons-in-menu-all:nth-child(4) {
    margin-right: -390px;
    margin-top: 400px
}

.buttons-in-menu-all:nth-child(5) {
    margin-right: -425px;
    margin-top: 500px
}

.buttons-in-menu-all:hover {
    color: #e6e600!important
}

.mobile-buttons-link {
    height: 100vh;
    width: 100vw;
    display: none
}

.mobile-buttons-link>ul>li>h1 {
    text-align: right
}

.mobile-buttons-link>ul {
    float: right;
    margin-right: 50px;
    margin-top: 100px
}

.mobile-buttons-link>ul>li {
    margin-top: 25px
}

.mobile-buttons-link>ul>li>h1:hover {
    color: #e6e600
}

.scroll-to-top {
    height: 50px;
    width: 50px;
    background-color: #000;
    position: fixed;
    top: 80vh;
    right: 5vw;
    border-radius: 50%;
    border: 2px solid #e6e600!important;
    z-index: 9;
    display: none;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
    opacity: .7
}

.scroll-to-top>i {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 12px;
    color: #e6e600;
    -webkit-transition: all .3s ease;
    transition: all .3s ease
}

.scroll-to-top:hover {
    background: #e6e600;
    border: 2px solid #000!important;
    cursor: pointer;
    opacity: 1
}

.scroll-to-top:hover .ho {
    color: #000
}

.login {
    position: absolute;
    top: 125px;
    left: 0;
    background-color: rgba(230,230,0,0.5);
    height: 55px;
    width: auto;
    padding-left: 30px!important;
    padding-right: 30px!important;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer
}

.login>h2 {
    text-align: center;
    margin-top: 5px;
    padding-left: 10px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.login:hover .user {
    color: #fff!important
}

.user {
    color: #000!important
}

.signup {
    position: absolute;
    top: 200px;
    left: 0;
    background-color: rgba(230,230,0,0.5);
    height: 55px;
    width: auto;
    padding-left: 12px!important;
    padding-right: 12px!important;
    -webkit-transition: all .3s ease-in;
    transition: all .3s ease-in;
    cursor: pointer
}

.signup>h2 {
    text-align: center;
    margin-top: 5px;
    padding-left: 10px;
    -webkit-transition: all .3s linear;
    transition: all .3s linear
}

.signup:hover .user {
    color: #fff!important
}

#dev {
    height: 100vh!important;
    width: 100vw!important;
    background: linear-gradient(141deg,#0fb8ad 0,#1fc8db 51%,#2cb5e8 75%);
    background-image: linear-gradient(141deg,#0fb8ad 0,#1fc8db 51%,#2cb5e8 75%);
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
    z-index: 99999!important;
    position: fixed;
    top: 0;
    left: 0;
    display: none
}

.request-permission-notification {
  display: none;
  height: 100vh !important;
  width: 100vw !important;
  z-index: 92;
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  left: 0;
}

.send-notification-main-asker {
  height: 250px;
  width: 500px;
  background-color: #fff;
  border-top: 7px solid darkblue!important;
  position: static !important;
  margin: auto;
  margin-top: 25vh;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
}

.notification-closer {
  height: 30px;
  width: 30px;
  background-color: rgba(0, 0, 0, 0.1);
  float: right;
  border: 1px solid #0d0f0f;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
  margin-top: 0;
}

.noticlsr {
  padding-left: 3px;
  color: #000 !important;
}

.notification-closer:hover {
  background-color: rgba(203, 60, 41, 1);
}

.notification-closer:hover .noticlsr {
  color: #fff !important;
}

.logo-icon-notification {
  height: 75px;
  width: 75px;
}

.button-noti-asker {
  border: none;
  outline: none;
  background-color: darkblue;
  margin-left: 60px;
  margin-top: 30px;
  padding-left: 15px !important;
  padding-right: 15px !important;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.button-noti-asker:hover {
  background-color: #007de3;
  -webkit-box-shadow: 5px 5px 5px #888888;
  box-shadow: 5px 5px 5px #888888;
}

.button-noti-asker>p {
  font-size: 16px;
  padding-top: 5px;
}
